html,
body,
#app {
    height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app {
    min-height: 100%;
}
.navbar {
    background-color: rgb(191, 165, 254);
}
.button.is-primary {
    background-color: rgb(165,235,235);
    color: black;
}

/*Toilet Form*/
.toiletform-question {
    margin-bottom: 10px;
}